.navbar-brand{
    paddind-top: 12px;
}

.card{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;

}

.alert{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;

}

.aw-link-panel{
    float:right;
    paddind: px;

}

.aw-titulo-panel{
    float:left;
    paddind-top:px;
    }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 20
}


.campo-pesq{
    margin-bottom:10px;
}