<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro de título</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>


<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img alt="AlgaWorks" src="/images/logo-algaworks.png" />
        </a>
    </div>
</nav>

<form class="form-horizontal" method="POST" action="/titulos" th:object="${titulo}">




    <div class="card">
        <div class="card-header">
            <div class="clearfix">
                <h1 class="panel-title aw-titulo-panel">Novo Título</h1>
                <a class="btn btn-link aw-link-panel" href="/titulos">Voltar para Pesquisa</a>
            </div>
        </div>

        <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
            <spam th:text="${mensagem}"></spam>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="detailedError : ${#fields.detailedErrors()}">
                <spam th:text="${detailedError.message}"></spam>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group" >
                <div class="mb-3 row">
                    <label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="descricao"  th:field="*{descricao}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label for="dataVencimento" class="col-sm-2 col-form-label">Data de vencimento</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"	id="dataVencimento" th:field="*{dataVencimento}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label for="valor" class="col-sm-2 col-form-label">Valor</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="valor" th:field="*{valor}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3 row">
                    <label for="status" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="status">

                            <option th:each="status: ${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="mb-3 row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>