<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pesquisa de títulos</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>


<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img alt="AlgaWorks" src="/images/logo-algaworks.png"/>
        </a>
    </div>
</nav>


<div class="card">
    <div class="card-header">
        <div class="clearfix">
            <h1 class="panel-title aw-titulo-panel">Pesquisa de títulos</h1>
            <a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo título</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center col-md-1">#</th>
                <th>Descrição</th>
                <th class="text-center col-md-2">Data de Vencimento</th>
                <th class="text-center col-md-2">Valor</th>
                <th class="text-center col-md-2">Status</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <tr th:each="titulo: ${titulos}">
                <td class="text-center" th:text="${titulo.codigo}">1</td>
                <td  th:text="${titulo.descricao}"></td>
                <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                <td class="text-right" th:text="| R$ ${{titulo.valor}}|"></td>
                <td class="text-center" >
                    <span class="badge" th:text="${titulo.status.descricao}"
                          th:classappend="${titulo.isPendente ? 'text-bg-danger' : 'text-bg-success'}"></span>
                </td>
                <td class="text-center">

                </td>

            </tr>
            <tr>
                <td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título encontrado</td>
            </tr>
            </tbody>
            <table>
    </div>
</div>


<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>